<h1>Verbrauch</h1>
<p>Zur Berechnung des Verbrauchs werden die gefahrenen Kilometer von einer vollen Tankfüllung
zur nächsten zusammengezählt. Teilfüllungen werden aus diesem Grund erst bei der nächsten
kompletten Füllung berücksichtigt.</p>

<h1>Kosten</h1>
<p>Die Werte im Kosten-Report zeigen einen Durchschnittswert, der sich auf die gesamten
eingegebenen Daten bezieht. Die Trendlinie im Graphen bezieht die aktuelle Periode nicht mit
ein, weil sich dort noch Werte ändern können.</p>