<h1>Consumption</h1>
<p>To calculate the consumption, the miles are added together by a full tank of fuel to another.
For this reason partial refills will only be considered with the next complete fill.</p>

<h1>Costs</h1>
<p>The values in the cost report show an average value which is based on the entire input data.
The trend line in the graph does not cover to the current period one, because data may still
change.</p>